// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yeseva+One&display=swap');

// Varaibles
@mixin center-object {
  display: flex;
  justify-content: center;
  align-items: center;
}

$yellow: #ebd150;


body {
  background-color: black;
}

h1 {
  color:white;
}

.spacing {
  width: 20px;
}

.movie-title {
  color: $yellow;
  font-family: 'Yeseva One', cursive;
  font-size: 64px;
}

.movie-credit {
  font-family: 'Bebas Neue', cursive;
  color: $yellow;
  font-size: 28px;
}

.subtitle {
  color: $yellow;
  font-family: Helvetica;
  font-style: italic;
  letter-spacing: 0.7px;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: absolute;
  bottom: 28px;
   &:hover {
    bottom:29px;
    color: #cfb947;
    text-decoration: none;
  }
}

.screen-container {
  width: 100vw;
  height: 100vh;
  @include center-object;
}

.screen {
  height: 500px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include center-object;
}

.list-container {
  width: 100%;
  margin: 0;
  padding: 40px 0;
}

.footer {
  color: white;
  font-size: 14px;
  font-family: Helvetica,Arial,sans-serif;
  text-align: center;
  justify-items: center;
  margin: 40px 0;
  img {
    margin-bottom: 48px;
  }
}

.actions {
  position: absolute;
  display: inline;
  left: 40px;
  top: 24px;
  color: white;
  a {
    color: white;
    &:hover {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
    }
  }
}
